@page "/"

<h2>My Servers Blazor Server App</h2>

<ul style="font-size: 18px">
    <li>View the list of servers using the <a href="server/serverlist">Server List page</a></li>
    <li>View the list of Forward DNS Entries using the <a href="networking/forwarddns">Forward Dns page</a></li>
    <li>View the list of Reverse DNS Entries using the <a href="networking/reversedns">Reverse DNS page</a></li>
</ul>