<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
      <add key="MyServersApiUsername" value=""/>
      <add key="MyServersApiPassword" value=""/>
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyServersApi">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.rapidswitch.com/MyServersApi/Simulator.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyServersApi"
                contract="CodingChallengeServiceReference.IMyServersApi" name="BasicHttpBinding_IMyServersApi" />
        </client>
    </system.serviceModel>
</configuration>